@import "../../../assets//general-style.scss";
.userDataBox {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    margin-bottom: 8px;
  }

  img {
    margin-left: 8px;
  }
}
.reactionsDataBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 88px;
    height: 43px;
    border-radius: 8px;
    padding: 8px 16px;
    overflow: hidden;

    & button:hover {
      background: none;
    }
  }

  .likeBox {
    border: 1px solid green;
  }
  .dislikeBox {
    border: 1px solid red;
  }

  img {
    margin-right: 8px;
  }
}
.dislikeBox::before,
.likeBox::before {
  content: "1";
}

.addCommentBox {
  @extend .underlined;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pointBox {
  & span {
    display: list-item;
    margin-right: 16px;
  }
}
