.userDataBox {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    margin-bottom: 8px;
  }

  img {
    margin-left: 8px;
  }
}
.reactionsDataBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;

    width: 88px;
    height: 43px;
    border-radius: 8px;
  }

  .likeBox {
    border: 1px solid green;
  }
  .dislikeBox {
    border: 1px solid red;
  }

  img {
    margin-right: 8px;
  }
}
