@import "./defines.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.underlined {
  border-bottom: 1px solid lightgray;
}
.topLined {
  border-top: 1px solid lightgray;
}
.primaryButton {
  width: 130px;
  margin: 16px;
}
.iconList {
  list-style-type: none;
  margin-top: 16px;

  & li {
    display: flex;
    margin-bottom: 8px;
  }
  & p {
    margin-right: 8px;
  }
}
.fullW {
  width: 100%;
}
