.imageBackContainer {
  height: 450px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introBox {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 8px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 36px;
}
