@import "../../../assets/defines.scss";

.appHeader {
  background-color: $primColor;
  color: $color9;
  height: 100px;
}
.title {
  @extend .h6;
  height: 85px !important;
}
.title,
.profile,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.title {
  justify-content: center;
}
.logo {
  justify-content: flex-start;
}
.profile {
  justify-content: flex-end;
}
