@import "../../../assets/defines.scss";

.modal {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
  height: 500px;
  background-color: $color9;
  overflow: auto;
}

.modalBody {
  padding: 16px 40px;
  min-height: 450px;
  overflow: auto;
}
.modalTitle {
  background-color: $color8;
  height: 72px;
  padding: 16px;
  box-shadow: 2px 2px 8px 0px $color5;
}
