@import "../../../assets/defines.scss";

.modal {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
  height: 80vh;
  background-color: $color9;
}
.modalTitle {
  padding: 16px;
}
.modalBody {
  padding: 16px 40px;
}
.modalTitle {
  background-color: $color8;
  height: 72px;
}
.formSection {
  border: 2px solid $color5;
  border-radius: 16px;
  min-height: 390px;
  padding: 16px;
  margin: 24px;
}
