@import "./defines.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

//==> Image gallery
.image-gallery-slide {
  img {
    border-radius: 8px;
  }
}

.image-gallery-thumbnails-container {
  justify-content: space-between;
  display: flex;
}
.image-gallery-thumbnails-container {
  button {
    width: 150px;
    border-radius: 8px;
  }
}

.image-gallery-thumbnail-image {
  border-radius: 8px;
}
// <==

.underlined {
  border-bottom: 1px solid lightgray;
}
.topLined {
  border-top: 1px solid lightgray;
}
.primaryButton {
  width: 130px;
  margin: 16px;
}
.iconList {
  list-style-type: none;
  margin-top: 16px;

  & li {
    display: flex;
    margin-bottom: 8px;
  }
  & p {
    margin-right: 8px;
  }
}
.fullW {
  width: 100%;
}
.flexRowReverse {
  display: flex;
  flex-direction: row-reverse;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// user panel forms ans fields
.userFormStyle {
  input {
    outline: none;
    width: 100%;
    background-color: transparent;
  }
  input:not([type="textarea"]) {
    border: none;
    border-bottom: 1px solid $color5;
  }

  input[type="textarea"] {
    height: 165px;
    border: 1px solid $color5;
  }
}
//
