.menuType {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 60px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid lightgray;

  & img {
    margin-left: 8px;
  }
}
.menuitem {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
