.cardRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
